Django>=5.0
django-lucide
whitenoise
gunicorn
python-dotenv
Pillow
numpy
reportlab
psycopg2-binary
dj-database-url
requests
django-storages
boto3
pillow-heif
easyocr
opencv-python-headless
google-generativeai